.menu-app {
  background-color: #f5d6d0;
  color: #2f2926;
}

#number {
  margin-top: 2px;
  font-size: 12px;
}

#bag {
  margin-top: 8px;
  margin-right: 1em;
  background-color: black;
  border-radius: 150%;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  position: absolute;
}

#navicon {
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
}

.menulist ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 40px;
  font-size: 20px;
  display: inline-block;
}
