body {
  font-family: Arcade;
}

#statushistory {
  background-color: #2f2926;
  color: white;
}

.statusorder {
  padding-top: 40px;
  padding-bottom: 40px;
}

#statusnavicon {
  float: left;
}

.orderNumber {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#orderRoute {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#delivery {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#okclick {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
}

#image1 {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.orderapp {
  color: white;
}
