#about {
  background-color: #f3e4e1;
  color: #2f2926;
}

#title-about {
  font-size: 30px;

  text-align: center;
  padding-left: 30px;
  margin-top: 1em;
}

section {
  padding: 0px 30px 0px 30px;
  text-align: left;
  margin-top: 2em;
}

#ownergirl {
  margin-top: 5em;
}
