.totalcart {
  margin-top: 100px;
  font-size: 23px;
  text-align: left;
}

.orderink {
  font-size: 16px;
}
.checkoutnow {
  background-color: #2f2926;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 12px 50px;
  margin-top: 4em;

  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  padding-right: 4em;
  padding-left: 3em;
}

.carttitle {
  text-align: center;
  margin-top: 3em;
}

.title {
  text-align: left;
  margin-top: 2em;
}

.price {
  text-align: left;
}

.count {
  text-align: right;
  padding-left: 1em;
}

.totalamount {
  text-align: left;
}
