.menu-app {
  background-color: #f5d6d0;
  color: #2f2926;
}

#number {
  margin-top: 2px;
  font-size: 12px;
}

#menumapping {
  display: flex;
  flex-direction: column;
}

#bag1 {
  margin-top: 120px;
  margin-right: 1em;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline;
}

#navicon {
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
}

.pricetag h2 {
  margin-left: 10em;
}

#menutag {
  text-align: center;
  font-size: 30px;
}

:hover {
  background: #97c9ce;
  border-color: #e56751;
  animation: ani9 0.3s ease-in-out infinite alternate;
}
