body {
  font-family: Arcade;
}

#statushistory {
  background-color: #2f2926;
  color: white;
}

.statusorder {
  padding-top: 40px;
  padding-bottom: 40px;
}

#statusnavicon {
  float: left;
}

.order1-list {
  margin-top: 20px;
  font-size: 20px;
}

.order2-list {
  margin-top: 20px;
  font-size: 20px;
  display: inline;
}

.order3-list {
  margin-top: 20px;
  font-size: 20px;
}
